.pageHeader {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.list {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    /* border: 1px solid red; */

}

.shop {
    /* border: 1px solid black; */
    width: 30%;
}